.detail{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap:3rem;
    .detail-card{
        h1{
            font-size:1.8rem;
            text-align: center;
            margin-bottom:1rem;
        }
        background-color: var(--headerpricolor);
        padding:1rem;
        border-radius:1rem;
        width: 45%;
        .detail-item{
            .good{
                background-color: var(--good);
                padding:.2rem;
                border-radius:.3rem;
            }
            .bad{
                background-color: var(--danger);
                padding:.2rem;
                border-radius:.3rem;
            }
            h2{
                font-size:1.2rem;
            }
            h3{
                font-size:.8rem;
            }
            // border-radius: 1rem;
            padding:1rem;
            // background-color: var(--headerseccolor);
            display:flex;
            justify-content: space-between;
            gap:1rem;
            align-items: center;
            border-bottom:1px solid var(--headerbg);
            .two-button{
                display:grid;
                grid-gap:.5rem;
            }
        }
    }
}
.allgood{
    height:100%;
    display:grid;
    align-content: center;
    justify-content: center;
    text-align:center;
    grid-gap:2rem;
    lottie-player{
        height:25rem;
    }
    h1{
        font-size:2rem;
    }
}