.purchase-content {
    margin: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
}

.table-filter {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
}
.search {
    outline:2px solid var(--bgweekch);
    border-radius: 1rem;
    padding: .3rem;
    // background-color: beige;
    border: 1rem;
}

.search i {
    padding-left: 2px;
    color: var(--headerseccolor)
}

input[type=text] {
    padding: .3rem;
    border: none;
    outline: none;
}

.filter {
    margin: auto;
}

.filter i {
    cursor: pointer;
    color: var(--headerseccolor)
}

.filter-txt1 {
    color: var(--headerbg);
}

.filter-txt2 {
    border-radius: 1rem;
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1rem;
    outline:2px solid var(--bgweekch);
    color: var(--filtertxt);
}

.pages {
    color: var(--filtertxt);
    margin: auto;
}

.pages i {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    border-collapse:collapse;
    
}

th,td {
    padding: .7rem;
    padding-left: 4rem;
}

th {
    text-align: left;
    background-color: var(--bgweekch);
}

.draft {
    background-color: var(--bgweekch);
    padding: .4rem;
    border-radius: .6rem;
    color: var(--warning);
}

.closed {
    background-color: var(--bgweekch);
    padding: .4rem;
    border-radius: .6rem;
    color: var(--danger);
}

.inprogress {
    background-color: var(--bgweekch);
    padding: .4rem;
    border-radius: .6rem;
    color: var(--good);
}

.onhold {
    background-color: var(--bgweekch);
    padding: .4rem;
    border-radius: .6rem;
    color: var(--secondary);
}

