@use 'variables';
@use 'sidebar';
@use 'content';
@use '_dbsnapshot';
@use '_dbdetail';
@use '_pheading';
body{
    margin:0;
}
main{
    display:grid;
    grid-template-columns: auto 1fr;
}
.dbcontent{
    display:grid;
    margin:2rem;
    grid-template-rows: auto auto;
}
button{
    padding:.5rem;
    border:none;
    border-radius:.5rem;
    background-color: var(--theme);
    color:var(--headerpricolor);
    cursor:pointer;
    &:disabled{
        background-color: var(--headerseccolor);
        color:grey;
    }
    &.warning-btn{
        background-color: var(--warning);
        color:var(--mainfont-color);
    }
    &.good-btn{
        background-color: var(--good);
        color:var(--mainfont-color);
    }
    &.danger-btn{
        background-color: var(--danger);
        color:var(--mainfont-color);
    }
}
