@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --headerbg:#333333;
  --headerseccolor: #dddddd;
  --headerpricolor: #eeeeee;
  --separatordark: #aaaaaa;
  --theme: #70A4D4;
  --mainfont-color: #333333;
  --mainfont: "Poppins";
  --danger: #ee5353;
  --warning: #feca57;
  --secondary: #4ddbfb;
  --good: #1cd1a1;
  --bgweekch:#f1f0f0dd;
  --filtertxt:#727171;
  font-family: var(--mainfont);
  color: var(--mainfont-color);
}

.sidebar {
  background-color: var(--headerbg);
  width: 100%;
  min-width: 15rem;
  color: var(--headerpricolor);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.sidebar .title {
  text-align: center;
  font-size: 0.8rem;
  height: 4rem;
  line-height: 4rem;
}
.sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  padding: 1rem;
}
.sidebar .menu ul li a {
  cursor: pointer;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sidebar .menu ul li a .icon {
  width: 1rem;
  text-align: center;
}
.sidebar .menu ul li a:hover, .sidebar .menu ul li a.active {
  background-color: var(--theme);
}
.sidebar footer {
  text-align: center;
  color: var(--headerseccolor);
  padding-bottom: 1rem;
}

.main-content {
  max-height: 100vh;
  overflow-x: auto;
}
.main-content header {
  height: 4rem;
  background-color: var(--headerpricolor);
  line-height: 4rem;
  text-align: center;
}

.snapshot {
  display: flex;
  margin-bottom: 4rem;
  justify-content: center;
  gap: 1rem;
}
.snapshot .snapshot-item {
  min-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--headerpricolor);
  text-align: center;
}
.snapshot .snapshot-item h1 {
  font-size: 2.5rem;
}
.snapshot .snapshot-item#alert h1 {
  color: var(--danger);
}
.snapshot .snapshot-item#order h1 {
  color: var(--warning);
}
.snapshot .snapshot-item#material h1 {
  color: var(--good);
}
.snapshot .snapshot-item#accept h1 {
  color: var(--secondary);
}
.snapshot .snapshot-item#delivery h1 {
  color: var(--warning);
}

.detail {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}
.detail .detail-card {
  background-color: var(--headerpricolor);
  padding: 1rem;
  border-radius: 1rem;
  width: 45%;
}
.detail .detail-card h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
.detail .detail-card .detail-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--headerbg);
}
.detail .detail-card .detail-item .good {
  background-color: var(--good);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.detail .detail-card .detail-item .bad {
  background-color: var(--danger);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.detail .detail-card .detail-item h2 {
  font-size: 1.2rem;
}
.detail .detail-card .detail-item h3 {
  font-size: 0.8rem;
}
.detail .detail-card .detail-item .two-button {
  display: grid;
  grid-gap: 0.5rem;
}

.allgood {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  grid-gap: 2rem;
}
.allgood lottie-player {
  height: 25rem;
}
.allgood h1 {
  font-size: 2rem;
}

.purchase-heading {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.week-title {
  display: flex;
  align-items: center;
}

h3 span {
  color: var(--secondary);
}

h3 i {
  cursor: pointer;
  color: var(--separatordark);
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.week-changer {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr 1fr;
}

.week-changer-p1 {
  background-color: var(--bgweekch);
  border-radius: 3rem;
  padding: 0.3rem;
}

.week-changer i {
  cursor: pointer;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: var(--separatordark);
}

.weeks {
  font-weight: 600;
}

.year {
  color: var(--separatordark);
  font-size: 0.8rem;
}

.purchase-content {
  margin: 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.table-filter {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.search {
  outline: 2px solid var(--bgweekch);
  border-radius: 1rem;
  padding: 0.3rem;
  border: 1rem;
}

.search i {
  padding-left: 2px;
  color: var(--headerseccolor);
}

input[type=text] {
  padding: 0.3rem;
  border: none;
  outline: none;
}

.filter {
  margin: auto;
}

.filter i {
  cursor: pointer;
  color: var(--headerseccolor);
}

.filter-txt1 {
  color: var(--headerbg);
}

.filter-txt2 {
  border-radius: 1rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1rem;
  outline: 2px solid var(--bgweekch);
  color: var(--filtertxt);
}

.pages {
  color: var(--filtertxt);
  margin: auto;
}

.pages i {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.7rem;
  padding-left: 4rem;
}

th {
  text-align: left;
  background-color: var(--bgweekch);
}

.draft {
  background-color: var(--bgweekch);
  padding: 0.4rem;
  border-radius: 0.6rem;
  color: var(--warning);
}

.closed {
  background-color: var(--bgweekch);
  padding: 0.4rem;
  border-radius: 0.6rem;
  color: var(--danger);
}

.inprogress {
  background-color: var(--bgweekch);
  padding: 0.4rem;
  border-radius: 0.6rem;
  color: var(--good);
}

.onhold {
  background-color: var(--bgweekch);
  padding: 0.4rem;
  border-radius: 0.6rem;
  color: var(--secondary);
}

.Reciept {
  margin: 25px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
}
.Reciept .Reciept-company {
  margin-left: 3rem;
  display: grid;
  padding-top: 10px;
}
.Reciept .Reciept-company h3 {
  color: var(--good);
}
.Reciept .Reciept-company p {
  size: 5px;
  margin-top: 2px;
  padding-left: 5px;
}
.Reciept .Reciept-heading h2 {
  color: rgb(4, 100, 180);
  text-align: center;
}
.Reciept .Reciept-content {
  display: flex;
}
.Reciept .Reciept-content .left {
  margin: 20px;
  width: 50%;
  display: flex;
}
.Reciept .Reciept-content .left .left-left {
  width: 50%;
}
.Reciept .Reciept-content .left .left-left p {
  color: black;
}
.Reciept .Reciept-content .right {
  margin: 20px;
  width: 50%;
  display: flex;
}
.Reciept .Reciept-content .right .right-left {
  width: 50%;
}
.Reciept .Reciept-content .right .right-left p {
  color: black;
}
.Reciept .Reciept-table {
  background-color: #e1e1e1;
}
.Reciept .Reciept-table .table-latitude {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
}
.Reciept .Reciept-table .table-latitude caption {
  text-transform: uppercase;
  font-weight: bold;
  color: #fab700;
  text-align: center;
}
.Reciept .Reciept-table .table-latitude thead {
  border-top: 2px solid #fab700;
  border-bottom: 2px solid #fab700;
}
.Reciept .Reciept-table .table-latitude thead th {
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
  color: #006ac6;
  border-left: 2px solid var(--good);
}
.Reciept .Reciept-table .table-latitude tbody tr {
  border-bottom: 2px solid #fab700;
  color: #75787b;
}
.Reciept .Reciept-table .table-latitude tbody tr td {
  padding: 10px;
  border: 1px solid #F1F1F1;
}
.Reciept .Reciept-table .table-latitude tbody tr th {
  padding-left: 10px;
  border: 1px solid #F1F1F1;
}
.Reciept .Reciept-table .table-latitude tfoot {
  border-bottom: 2px solid var(--good);
}
.Reciept .Reciept-table .table-latitude tfoot tr th {
  padding: 10px;
  border: 1px solid #F1F1F1;
}
.Reciept .Reciept-table .table-latitude tfoot tr td {
  padding: 10px;
  border: 1px solid #F1F1F1;
}

.mtr_heading {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.mat_req {
  margin: 25px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 25px;
}
.mat_req .mrq_heading {
  padding-top: 30px;
}
.mat_req .mrq_heading h2 {
  color: rgb(4, 100, 180);
  text-align: center;
}
.mat_req .Title-data {
  margin-left: 20px;
  display: flex;
}
.mat_req .Title-data .mrq_title {
  margin: 20px;
  margin-right: 40px;
  display: flex;
}
.mat_req .Title-data .mrq_data p {
  margin-left: 20px;
  align-content: right;
  display: flex;
}
.mat_req .Title-data .availability {
  display: flex;
  align-content: right;
  margin-left: 25%;
  margin-top: 7%;
}
.mat_req .Title-data .availability .good {
  background-color: var(--good);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.mat_req .Title-data .availability .bad {
  background-color: var(--danger);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.mat_req .mrq_table {
  background-color: #e1e1e1;
}
.mat_req .mrq_table .table-latitude {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
}
.mat_req .mrq_table .table-latitude tr {
  border-bottom: 2px solid #fab700;
  border-bottom: 2px solid #fab700;
  color: #75787b;
}
.mat_req .mrq_table .table-latitude tr td {
  padding: 10px;
  border: 1px solid #F1F1F1;
}
.mat_req .mrq_table .table-latitude tr th {
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
  color: #006ac6;
  border-left: 2px solid var(--good);
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.dbcontent {
  display: grid;
  margin: 2rem;
  grid-template-rows: auto auto;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theme);
  color: var(--headerpricolor);
  cursor: pointer;
}
button:disabled {
  background-color: var(--headerseccolor);
  color: grey;
}
button.warning-btn {
  background-color: var(--warning);
  color: var(--mainfont-color);
}
button.good-btn {
  background-color: var(--good);
  color: var(--mainfont-color);
}
button.danger-btn {
  background-color: var(--danger);
  color: var(--mainfont-color);
}

/*# sourceMappingURL=main.css.map */
