@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --headerbg:#333333;
  --headerseccolor: #dddddd;
  --headerpricolor: #eeeeee;
  --separatordark: #aaaaaa;
  --theme: #70A4D4;
  --mainfont-color: #333333;
  --mainfont: "Poppins";
  --danger: #ee5353;
  --warning: #feca57;
  --secondary: #4ddbfb;
  --good: #1cd1a1;
  --bgweekch:#f1f0f0dd;
  font-family: var(--mainfont);
  color: var(--mainfont-color);
}

.sidebar {
  background-color: var(--headerbg);
  width: 100%;
  min-width: 15rem;
  color: var(--headerpricolor);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.sidebar .title {
  text-align: center;
  font-size: 0.8rem;
  height: 4rem;
  line-height: 4rem;
}
.sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  padding: 1rem;
}
.sidebar .menu ul li a {
  cursor: pointer;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sidebar .menu ul li a .icon {
  width: 1rem;
  text-align: center;
}
.sidebar .menu ul li a:hover, .sidebar .menu ul li a.active {
  background-color: var(--theme);
}
.sidebar footer {
  text-align: center;
  color: var(--headerseccolor);
  padding-bottom: 1rem;
}

.main-content {
  max-height: 100vh;
  overflow-x: auto;
}
.main-content header {
  height: 4rem;
  background-color: var(--headerpricolor);
  line-height: 4rem;
  text-align: center;
}

.snapshot {
  display: flex;
  margin-bottom: 4rem;
  justify-content: center;
  gap: 1rem;
}
.snapshot .snapshot-item {
  min-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--headerpricolor);
  text-align: center;
}
.snapshot .snapshot-item h1 {
  font-size: 2.5rem;
}
.snapshot .snapshot-item#alert h1 {
  color: var(--danger);
}
.snapshot .snapshot-item#order h1 {
  color: var(--warning);
}
.snapshot .snapshot-item#material h1 {
  color: var(--good);
}
.snapshot .snapshot-item#accept h1 {
  color: var(--secondary);
}
.snapshot .snapshot-item#delivery h1 {
  color: var(--warning);
}

.detail {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}
.detail .detail-card {
  background-color: var(--headerpricolor);
  padding: 1rem;
  border-radius: 1rem;
  width: 45%;
}
.detail .detail-card h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
.detail .detail-card .detail-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--headerbg);
}
.detail .detail-card .detail-item .good {
  background-color: var(--good);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.detail .detail-card .detail-item .bad {
  background-color: var(--danger);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.detail .detail-card .detail-item h2 {
  font-size: 1.2rem;
}
.detail .detail-card .detail-item h3 {
  font-size: 0.8rem;
}
.detail .detail-card .detail-item .two-button {
  display: grid;
  grid-gap: 0.5rem;
}

.allgood {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  grid-gap: 2rem;
}
.allgood lottie-player {
  height: 25rem;
}
.allgood h1 {
  font-size: 2rem;
}

.purchase-heading {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.week-title {
  display: flex;
  align-items: center;
}

h3 span {
  color: var(--secondary);
}

h3 i {
  cursor: pointer;
  color: var(--separatordark);
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.week-changer {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr 1fr;
}

.week-changer-p1 {
  background-color: var(--bgweekch);
  border-radius: 3rem;
  padding: 0.3rem;
}

.week-changer i {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: var(--separatordark);
}

.weeks {
  font-weight: 600;
}

.year {
  color: var(--separatordark);
  font-size: 0.8rem;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.dbcontent {
  display: grid;
  margin: 2rem;
  grid-template-rows: auto auto;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theme);
  color: var(--headerpricolor);
  cursor: pointer;
}
button:disabled {
  background-color: var(--headerseccolor);
  color: grey;
}
button.warning-btn {
  background-color: var(--warning);
  color: var(--mainfont-color);
}
button.good-btn {
  background-color: var(--good);
  color: var(--mainfont-color);
}
button.danger-btn {
  background-color: var(--danger);
  color: var(--mainfont-color);
}

/*# sourceMappingURL=main.css.map */
